.darkmode {
    --base-color: #2d2727;
    --base-variant: #000000;
    --text-color : #5906d58f;
    --text-color2 : #461488;
    --secondary-color:#5bb134;
    --primary-color: #e7e5e5;
    --accent-color:#228bc4;
    --hover-color: #8529ff;
}

body {
    background-color: var(--base-color);
    color: var(--text-color);
   

}

.lightmode {
    --base-color: #f3f1f1;
    --base-variant: #ffffff;
    --text-color : #30b8d3;
    --secondary-color:#5bb134;
    --primary-color: #000000;
    --accent-color:#155f9b;
    --text-color2 : #a119ad;
    --hover-color: #8529ff;

}

body {
    background-color: var(--base-color);
    color: var(--text-color);
}
svg {
    fill :var(--secondary-color);
}
#theme-switch {
   height: 50px;
   width: 50px;
    border-radius: 50%;
    padding: 0;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 20px;
    right: 20px;
    background-color: var(--primary-color);
}
#theme-switch svg {
    fill: var(--base-variant);
}
#theme-switch svg:first-child {
    display: none;
}
.darkmode #theme-switch svg:last-child {
    display: none;
}
.darkmode #theme-switch svg:first-child {
    display: block;
}

.lightmode #theme-switch svg:first-child {
    display: none;
}
    .lightmode #theme-switch svg:last-child {
    display: block;
}
