.darkmode {
    --base-color: #2d2727;
    --base-variant: #000000;
    --text-color : #5906d58f;
    --text-color2 : #72189b;
    --text-color3 : #779899;
    --secondary-color:#5bb134;
    --primary-color: #e7e5e5;
    --accent-color:#8a14ceb9;
    --hover-color: #8529ff;
    --hover2-color: #b5b5b5;
    --kalender-color:#000000;
    --info-color: #ffffff;
   
}

body {
    background-color: var(--base-color);
    color: var(--text-color);
   

}

.lightmode {
    --base-color: #f3f1f1;
    --base-variant: #ffffff;
    --text-color : #30b8d3;
    --text-color2 : #2293a7;
    --text-color3 : #2293a7;
    --secondary-color:#5bb134;
    --primary-color: #000000;
    --accent-color:#155f9b;
    --hover-color: #2ab5cd;
    --hover2-color: #383737;
    --kalender-color: #177681;
    --info-color: #000000;



}

body {
    background-color: var(--base-color);
    color: var(--text-color);
}
svg {
    fill :var(--secondary-color);
}
#theme-switch {
   height: 50px;
   width: 50px;
    border-radius: 50%;
    padding: 0;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 20px;
    right: 20px;
    background-color: var(--primary-color);
}
#theme-switch svg {
    fill: var(--base-variant);
}
#theme-switch svg:first-child {
    display: none;
}
.darkmode #theme-switch svg:last-child {
    display: none;
}
.darkmode #theme-switch svg:first-child {
    display: block;
}


.kalender {
    width: 360px;
    height: auto;
    display: flex;
    flex-direction: column;
    padding: 10px;
    background: #ffffff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    

}

.kalender {
    width: 500px;
    height: auto;
    display: flex;
    flex-direction: column;
    padding: 10px;
    background: #ffffff;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    margin: 0 auto;
    margin-top:350px ;
    
    
    
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.monthYear {
    font-size: 1.5em;
    font-weight: bold;
    color: var(--kalender-color);
} 
.header button {
    display: flex;
    align-items:center; 
    justify-content: center;
    border-radius: 50%;
    border: none;
    background: #ffffff;
    cursor: pointer;
    width: 40px;
    height: 40px;
   box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
    
}
.days { 
 display: grid;
 grid-template-columns: repeat(7,1fr);
    
}
.day{
    text-align: center;
    padding: 5px;
    color: var(--kalender-color);
    font-weight: 500;
}
.dates {
    display: grid;
    grid-template-columns: repeat(7,1fr);
    gap: 5px;
}


.date {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
     padding: 10px;
     margin: auto;
     cursor: pointer;
     font-weight: 400;
     border-radius: 50%;
     width: 20px;
     height: 10px;
     transition: 0.2s;
}
.date:hover,
.date:active {
    background-color: #ff5869;
    color :#ffffff;
}

.date.active {
    background-color: #ff5869;
    color: #ffffff;
    font-weight: bold;
}

.date.inactive {
    color: #cccccc;
    cursor: pointer;
}

.date.inactive:hover {
    background-color: #ff6f7d;
    color: #5c5656;
    
}

.info {
    text-align: center;
    font-family: Arial;
    color: var(--info-color);
    text-decoration: underline;
    justify-content: center;
    font-size: 13px;  

}
.info2 {
    text-align: center;
    font-family: Arial;
    color: var(--info-color);
    text-decoration: underline;
    font-size: 13px;  
}

.info:hover{
 color: var(--hover2-color);
}

.info2:hover{
color: var(--hover2-color);
}


.Heutige-termine{
    font-size: 20px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: var(--text-color3);
}

.Termine2 {
 text-align: center;
 font-size: 35px;
}
   
